body{
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container{
    display: none;
    width: 750px;
    margin: 60px auto;
}
.card-image{
    width: 100%;
}
.subscribe-btn{
    background: #fff;
    border: 1px solid #909090;
    padding: 20px 44px;
    border-radius: 40px;
    color: black;
    position: fixed;
    bottom: 40px;
    right: 40px;
    cursor: pointer;
}
.subscribe-btn:hover{
    background-color: black;
    color: #fff;
}
.heading{
    position: sticky;
    top: 0;
    background-color: #fff;
    padding: 20px 0;
}

.bg{
    width: 750px;
    margin: 60px auto;
    position: relative;
    display: none;
}
.img-bg{
    width: 100%;
    border-radius: 14px;
}
.content{
    position: absolute;
    bottom: 100px;
    left: 40px;
    color: #fff;
}
.tint{
    background-color: rgba(0, 0, 0, 0.441);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 14px;
}
.explore-btn{
    padding: 20px 44px;
    border-radius: 40px;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
}
.explore-btn:hover{
    background-color: #fff;
    color: black;
}

.card{
    width: 300px;
    margin: 10px auto;
    border: 1px solid lightgray;
    border-radius: 14px;
    padding: 10px;
}
.user{
    width: 50%;
    border-radius: 50%;
}
.center{
    text-align: center;
}
a{
    text-decoration: none;
    color: #fff;
    background-color: black;
    padding: 16px;
    display: inline-block;
    border: none;
    border-radius: 14px;
}